.app-header {
    background-color: maroon;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    .menu-bar {
        list-style-type: none;
        li {
            float: left;
            a {
                color: white;
                text-decoration: none;
                padding: 16px;
                display: block;
                border-bottom: 3px solid transparent;

                &:hover {
                    color: yellow;
                    border-bottom: 3px solid yellow;
                }
            }
        }
    }
}

.app-body {
    position: absolute;
    top: 75px;
}